.password-container {
    position: relative;
    width: fit-content;
    margin: auto;
}

.password-container input {
    padding-right: 30px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password:hover {
    color: #007BFF;
}
.toggle-password {
    font-size: 30px;
}
